<div class="sort">
  <span class="sort-by">Sort By</span>
  <select>
    <option>Position</option>
    <option>Price</option>
    <option>Rating</option>
    <option>Name</option>
  </select>
  <a class="sort_up" href="#">&#8593;</a>
</div>

<div class="options">
  <div class="grid-list">
    <!--這裏的class裏面一個Grid和list是兩張圖片-->
    <a class="list curent" href="#"><span>img</span></a>
  </div>
  <!--.grid-list-->

</div>
<!--.options-->
<!--[class.curent]="currentMenuId == menu.id"   (click)="nav(menu)"  javascript:;  *ngFor="let menu of menus"-->
