<div id="content" class="grid_9">
  <h1 class="page_title">巴黎</h1>

  <div class="product_page">
    <div class="grid_4 img_slid" id="products">
      <img class="sale" src="src/assets/images/sale.png" alt="Sale" />
      <div class="preview slides_container">
        <div class="prev_bg">
          <a class="jqzoom" rel="gal1" href="src/assets/images/book_2.png">
            <img src="src/assets/images/book_2.png" style="width: 100%" title="" alt="" />
          </a>
        </div>
      </div><!-- .prev -->

      <ul class="pagination clearfix" id="thumblist">
        <li><a class="zoomThumbActive" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid.png',largeimage: './images/produkt_slid.png'}"><img
              src='src/assets/images/book_2.png' alt=""></a></li>
        <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid1.png',largeimage: './images/produkt_slid1.png'}"><img
              src='src/assets/images/book_2.png' alt=""></a></li>
        <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid2.png',largeimage: './images/produkt_slid2.png'}"><img
              src='src/assets/images/book_2.png' alt=""></a></li>
        <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid3.png',largeimage: './images/produkt_slid3.png'}"><img
              src='src/assets/images/book_2.png' alt=""></a></li>
        <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid4.png',largeimage: './images/produkt_slid4.png'}"><img
              src='src/assets/images/book_2.png' alt=""></a></li>
      </ul>

      <div class="next_prev">
        <a id="img_prev" class="arows" href="#"><span>Prev</span></a>
        <a id="img_next" class="arows" href="#"><span>Next</span></a>
      </div><!-- . -->
    </div><!-- .grid_4 -->

    <div class="grid_5">
      <div class="entry_content">
        <div class="review">
          <a class="plus" href="#"></a>
          <a class="plus" href="#"></a>
          <a class="plus" href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <span>1 REVIEW(S)</span>
          <a class="add_review" href="#">ADD YOUR REVIEW</a>
        </div>
        <p>小說從得到諾貝爾文學獎的東城小說家莫爾凡被驅逐出境開始，描述安全局人員諾維爾的任務就是找出小說家意圖詆毀獨裁者的長篇小說書稿。</p>
        <div class="ava_price">
          <div class="availability_sku">
            <div class="availability">
              Availability: <span>In stock</span>
            </div>
            <div class="sku">
              SKU: <span>Candles OV</span>
            </div>
          </div><!-- .availability_sku -->

          <div class="price">
            <div class="price_new">NT $432</div>
            <div class="price_old">NT $380</div>
          </div><!-- .price -->
        </div><!-- .ava_price -->

        <div class="block_cart">
          <div class="obn_like">
            <div class="obn"><a href="#" class="obn">Add to Compare</a></div>
            <div class="like"><a href="#" class="like">Add to Wishlist</a></div>
          </div>

          <div class="cart">
            <a href="#" class="bay">Add to Cart</a>
            <input type="text" name="" class="number" value="1" />
            <span>Quantity:</span>
          </div>
          <div class="clear"></div>
        </div><!-- .block_cart -->
        <div class="soc">
          <img src="src/assets/images/soc.png" alt="Soc" />
        </div><!-- .soc -->
      </div><!-- .entry_content -->

    </div><!-- .grid_5 -->

    <div class="clear"></div>

    <div class="grid_9">
      <div id="wrapper_tab" class="tab1">
        <a href="#" class="tab1 tab_link">內容簡介</a>
        <a href="#" class="tab2 tab_link">客戶評價</a>
        <a href="#" class="tab3 tab_link">作者介紹&詳細資料</a>

        <div class="clear"></div>

        <div class="tab1 tab_body">
          <h4>商品簡介</h4>
          <p>一則關於尚在衝突與分裂國度的政治寓言</p>
          <p>一九四四年共產紅軍進軍巴黎，這座光明之城從此分裂成東城與西城，東城處在恐怖統治之下，西城則是自由地區。小說從得到諾貝爾文學獎的東城小說家莫爾凡被驅逐出境開始，描述安全局人員諾維爾的任務就是找出小說家意圖詆毀獨裁者的長篇小說書稿。諾維爾在監視的過程中，卻愛上作家的作品與其情婦克拉拉。他忍不住警告克拉拉，不要將任何紙張丟棄，兩人甚至一起去尋找作家藏匿在地底的一千兩百零九頁書稿，可惜這批書稿仍遭沒收。到底諾維爾與克拉拉是敵是友？小說描述極權社會下的複雜人性。</p>
          <p>故事結尾，歷史終於等到獨裁者下臺、圍牆倒塌，取回書稿的莫爾凡與克拉拉多年後再度聚首，但莫爾凡說，「我不再寫了。世界變得這麼快，不久之後，每本書的背後恐怕都得加上失效的日期。所謂好書沒有時間限制只是空話。點子都變成了產品，有效期限變得愈來愈短。」小說諷刺地對比，極權國家對文字的極度重視與畏懼，以及所謂自由地區的文字，早已失去力量的事實。菲耶以架空歷史小說的取徑，讓我們重新檢視一段以冷為名的戰爭，以及人類文明的惡性、愚蠢與美。</p>

          <table>
            <tr>
              <th class="bg">First Column</th>
              <th>Second Column</th>
              <th class="bg">Third Column</th>
              <th>Fourth Column</th>
            </tr>
            <tr>
              <td class="bg">One</td>
              <td>no</td>
              <td class="bg">yes</td>
              <td>yes, all</td>
            </tr>
            <tr>
              <td class="bg">Two</td>
              <td>0</td>
              <td class="bg">1</td>
              <td>all</td>
            </tr>
            <tr>
              <td class="bg">Three</td>
              <td>$399</td>
              <td class="bg">$599</td>
              <td>$799</td>
            </tr>
            <tr>
              <td class="bg">Four</td>
              <td><a href="#">Call action</a></td>
              <td class="bg"><a href="#">Call action</a></td>
              <td><a href="#">Call action</a></td>
            </tr>
          </table>
          <div class="clear"></div>
        </div><!-- .tab1 .tab_body -->

        <div class="tab2 tab_body">
          <h4>Customer reviews</h4>
          <ul class="comments">
            <li>
              <div class="autor">Mike Example</div>, <time datetime="2012-11-03">03.11.2012</time>

              <div class="evaluation">
                <div class="quality">
                  <strong>Quality</strong>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                </div>
                <div class="price">
                  <strong>Price</strong>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus_minus" href="#"></a>
                  <a href="#"></a>
                </div>
                <div class="clear"></div>
              </div><!-- .evaluation -->

              <p>Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt
                feugiat
                ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>
            </li>

            <li>
              <div class="autor">Mike Example</div>, <time datetime="2012-11-03">03.11.2012</time>

              <div class="evaluation">
                <div class="quality">
                  <strong>Quality</strong>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus_minus" href="#"></a>
                </div>
                <div class="price">
                  <strong>Price</strong>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a class="plus" href="#"></a>
                  <a href="#"></a>
                </div>
                <div class="clear"></div>
              </div><!-- .evaluation -->

              <p>Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat volutpat. Phasellus faucibus
                venenatis lorem, vitae commodo elit pretium et. Duis rhoncus lobortis congue. Vestibulum et purus dui,
                vel
                porta lectus. Sed vulputate pulvinar adipiscing.</p>
            </li>
          </ul><!-- .comments -->

          <form class="add_comments">
            <h4>Write Your Own Review</h4>

            <div class="evaluation">
              <div class="quality">
                <strong>Quality</strong><sup class="surely">*</sup>
                <input class="niceRadio" type="radio" name="quality" value="1" /><span class="eva_num">1</span>
                <input class="niceRadio" type="radio" name="quality" value="2" /><span class="eva_num">2</span>
                <input class="niceRadio" type="radio" name="quality" value="3" /><span class="eva_num">3</span>
                <input class="niceRadio" type="radio" name="quality" value="4" /><span class="eva_num">4</span>
                <input class="niceRadio" type="radio" name="quality" value="5" /><span class="eva_num">5</span>
              </div>
              <div class="price">
                <strong>Price</strong><sup class="surely">*</sup>
                <input class="niceRadio" type="radio" name="price" value="1" /><span class="eva_num">1</span>
                <input class="niceRadio" type="radio" name="price" value="2" /><span class="eva_num">2</span>
                <input class="niceRadio" type="radio" name="price" value="3" /><span class="eva_num">3</span>
                <input class="niceRadio" type="radio" name="price" value="4" /><span class="eva_num">4</span>
                <input class="niceRadio" type="radio" name="price" value="5" /><span class="eva_num">5</span>
              </div>
              <div class="clear"></div>
            </div><!-- .evaluation -->

            <div class="nickname">
              <strong>Nickname</strong><sup class="surely">*</sup><br />
              <input type="text" name="" class="" value="" />
            </div><!-- .nickname -->

            <div class="your_review">
              <strong>Summary of Your Review</strong><sup class="surely">*</sup><br />
              <input type="text" name="" class="" value="" />
            </div><!-- .your_review -->

            <div class="clear"></div>

            <div class="text_review">
              <strong>Review</strong><sup class="surely">*</sup><br />
              <textarea name="text"></textarea>
              <i>Note: HTML is not translated!</i>
            </div><!-- .text_review -->

            <input type="submit" value="Submit Review" />
          </form><!-- .add_comments -->
          <div class="clear"></div>
        </div><!-- .tab2 .tab_body -->

        <div class="tab3 tab_body">
          <h4>
            <p>作者簡介</p>
            <p>艾力克．菲耶 Éric Faye</p>
            <p></p>
            <p>一九六三年生，路透社記者，一九九一年出版第一本散文集，隔年出版第一部小說，已有散文及小說作品十餘部，包括《我是守燈塔的人》、《雨海上的郵輪》、《我的未來灰燼》、《一段沒有你的人生》、《我的夜車》、《可憐蟲工會》、《孤獨將軍》、《沒有痕跡的男人》，以及《三境邊界祕話》、《Parij》等等。曾多次獲得文學獎項，二○一○年的《長崎》更榮獲法蘭西學術院小說大獎。最新作品是二○一六年出版的《失蹤日本人》。</p>

            <p>譯者簡介</p>
            <p>陳太乙</p>
            <p>喜歡閱讀，專職法文譯者許多年。在衛城已出版譯作《長崎》、《哈德良回憶錄》與《三境邊界祕話》。</p>

            <p>詳細資料</p>
            <p>ISBN：9789869351881</p>
            <p>叢書系列：綠書系</p>
            <p>規格：平裝 / 336頁 / 12 x 18.5 cm / 普通級 / 單色印刷 / 初版</p>
            <p>出版地：台灣</p>



          </h4>
          <div class="clear"></div>
        </div><!-- .tab3 .tab_body -->
        <div class="clear"></div>
      </div>​
      <!-- #wrapper_tab -->
      <div class="clear"></div>
    </div><!-- .grid_9 -->

    <div class="clear"></div>

    <div class="related">
      <div class="c_header">
        <div class="grid_7">
          <h2>Related Products</h2>
        </div><!-- .grid_7 -->

        <div class="grid_2">
          <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
          <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
        </div><!-- .grid_2 -->
      </div><!-- .c_header -->

      <div class="list_carousel">

        <ul id="list_product" class="list_product">
          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="src/assets/images/sale.png" alt="Sale" />
              <div class="prev">
                <a href="/product_page.html"><img src="src/assets/images/product_1.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="">NT $432</div>
                    <div class="price_old">NT $480</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

          <li class="">
            <div class="grid_3 product">
              <div class="prev">
                <a href="/product_page.html"><img src="src/assets/images/product_2.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">NT $432</div>
                    <div class="price_old">NT $480</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

          <li class="">
            <div class="grid_3 product">
              <div class="prev">
                <a href="/product_page.html"><img src="src/assets/images/product_3.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                    <div class="price_old">$725.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

          <li class="">
            <div class="grid_3 product">
              <div class="prev">
                <a href="/product_page.html"><img src="src/assets/images/images/product_4.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                    <div class="price_old">$725.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>
        </ul><!-- #list_product -->
      </div><!-- .list_carousel -->
    </div><!-- .carousel -->
  </div><!-- .product_page -->
  <div class="clear"></div>

</div><!-- #content -->
